commands
New_Joinee_Form.ods
version control assignment
SHELL 
data
Dockerfile
Javaassignments
Example.java
Example.class
git_workshop
OOPS assignment
idea-IC-181.5281.24
JAVAASSIGNMENTS1
SQL ASSIGNMENTS
ppppp
friend_of_enemy
.*pyc
